body{
  font-family:'Times New Roman', Times, serif;
}

h2{
  color: #CCB268;
  font-family: cursive;
}

button {
  background-color: #CCB268;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size:large;
  font-family: cursive;
}

